.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  color: white;
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.left-section {
  padding-left: 20px;
  padding-right: 64px;
  display: flex;
  align-items: center;
  justify-content: center;;
}

.logo-link {
  height: 32px;
  padding: 8px 8px;
}

.logo-link:hover {
  border: 1px white solid;
  padding: 8px 7px;
}

.amazon-logo {
  object-fit: contain;
  height: 100%;
}

.middle-section {
  flex: 1;
  display: flex;
  align-items: center;
}

.search-area {
  display: flex;
  flex: 1;
  position: relative;
}

.search-bar {
  flex: 1;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 4px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-button {
  height: 42px;
  width: 48px;
  background-color: rgb(254,189,105);
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: -40px;
  margin-right: 10px;
}

.search-icon {
  height: 25px;
}

.right-section {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.returns-and-orders-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  padding: 6px;
}

.returns-and-orders-link:hover {
  border: solid 1px white;
  padding: 6px 5px;
}

.returns {
  font-size: 14px;
}

.orders {
  font-weight: 700;
}

.cart-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding: 6px;
}

.cart-link:hover {
  border: solid 1px white;
  padding: 6px 5px;
}

.cart-link:hover .order-number {
  right: 51px;
}

.cart-icon {
  height: 36px;
}

.order-number {
  position: absolute;
  right: 52px;
  bottom: 24px;
  color: rgb(238, 132, 6);
  font-weight: 700;
  font-size: 18px;
}