* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: trnsparent;
  font-family:'Roboto', 'Arial', sans-serif;
}

body {
  padding-top: 60px;
}

.catalogue-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
  background-color:rgb(226, 226, 226);
  grid-gap: 1px;
}

.product-box {
  padding: 24px;
  background-color: white;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
}

.product-img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.stars-img {
  width: 35%;
}

.num-ratings {
  color: rgb(37, 142, 207);
}

.price {
  font-weight: 700;
}

select {
  color: rgb(33, 33, 33);
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
  padding: 3px 5px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}


.add-to-cart {
  width: 100%;
  background-color: rgb(255,216,20);
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 100px;
  margin-top: 48px;
  cursor: pointer;
}